@media (min-width: 600px) {
    .banner {
        width: 100%;
    }
    
    .navigation {
        background-color: #00b7ce;
    }

    .dropdown-item:hover {
        background-color: #00b7ce;
    }
    
    /* Optional color: #212529 */
    footer {
        border-bottom: 20px solid #333333;
        background-color: #666666;
        /* min-height: 50px; */
        text-align: left;
        margin-top: 5%;
        color: #eaeaea;
    }
    
    .padded {
        padding: 20px;
    }
    
    .copyright-footer {
        text-align: center;
        background-color: #333333;
        position: relative;
        top: 18px;
    }
    
    /* .carousel-img {
        height: 70%;
    } */
    
    .fake-overlay {
        background-color: #666666;
    }
    
    .baris-pertama {
        margin-top: 1%;
    }
    
    .baris-kedua {
        margin-top: 3%;
    }
    
    .reduced-height {
        height: 30%;
    }
    
    .subheaders {
        color: #00b7ce;
        border-top: 2px solid #00b7ce;
    }
    
    .spaced {
        margin-top: 5%;
    }
    
    .smallheaders {
        color: #00b7ce;
        border-top: 2px solid #00b7ce;
    }
    
    .imejPautan {
        width: 100%;
        margin: 1%;
    }
    
    .mini-nav {
        position: relative;
        top: 20px;
    }
    
    .imejHebahan {
        width: 100%;
        height: 90%;
        transition: transform .2s;
    }
    
    .imejHebahan:hover {
        transform: scale(1.2);
    }
    
    * {box-sizing: border-box}
    
    .imgContainer {
        position: relative;
        width: 100%;
        max-width: 300px;
        margin-top: 1%;
    }
    
    .imejCapaian {
        display: block;
        width: 100%;
        height: auto;
    }
    
    .overlay {
        position: absolute;
        bottom: 0;
        background: rgb(0, 0, 0);
        background: rgb(0, 0, 0, 0.5);
        color: #f1f1f1;
        width: 100%;
        transition: .5s ease;
        opacity: 0;
        color: white;
        font-size: 20px;
        padding: 20px;
        text-align: center;
    }
    
    .imgContainer:hover .overlay {
        opacity: 1;
    }
    
    .spacer {
        padding: 20px;
    }
    
    .instLogo {
        width: 70%;
        height: 100%;
        display: block;
        margin-right: auto;
        margin-left: auto;
        transition: transform .2s;
    }
    
    .instLogo:hover {
        transform: scale(1.3);
    }
    
    .agenLogo1 {
        width: 50%;
        display: block;
        margin-right: auto;
        margin-left: auto;
        transition: transform .2s;
    }
    
    .agenLogo1:hover {
        transform: scale(1.3);
    }
    
    .agenLogo2 {
        width: 70%;
        display: block;
        margin-right: auto;
        margin-left: auto;
        transition: transform .2s;
    }
    
    .agenLogo2:hover {
        transform: scale(1.3);
    }

    .mobile-only {
        display: none;
    }
}

@media (max-width: 600px) {
    .navigation, .banner, .carousel, .baris-pertama, .baris-kedua, footer {
        display: none;
    }

    .mobile-only {
        text-align: center;
        margin-top: 3%;
    }
}



