.subheaders {
    margin: 3%;
    text-align: center;
    /* border: 2px solid #00b7ce; */
}

* {box-sizing: border-box}

.imgContainer {
    position: relative;
    width: 100%;
    max-width: 300px;
}

.imej {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgb(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.imgContainer:hover .overlay {
    opacity: 1;
}

.instLogo {
    width: 50%;
    height: 100%;
}
