.banner {
    width: 100%;
}

.navigation {
    background-color: #00b7ce
}

.dropdown-item:hover {
    background-color: #00b7ce
}

/* Optional color: #212529 */
/* footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: white;
    text-align: center;
} */

footer {
    border-bottom: 5px solid #212529;
    padding: 20px;
    background-color: #666666;
    min-height: 50px;
    text-align: left;
    margin-top: 10%;
}
